<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Styles -->
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
	
	.title {
      line-height: 1;
      font-family: 'Oswald', sans-serif;
	  color: #f00;
    }
	
</style>
	<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="https://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="https://getbootstrap.com/2.3.2/assets/ico/favicon.png">
  <style type="text/css"></style><style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style></head>
	

<header class="navbar navbar-inverse">
  <div class="container">
    <%= link_to "Fifteen Minutes", root_path, id: "logo", :class => 'title' %>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar" style="height: 0px, background: url('bar.gif');">
      <ul class="nav navbar-nav navbar-right">
	    <%= form_tag(users_path, :method => "get", class: "navbar-form", id: "search-form") do %>
          <li><span class="icon"><i class="fa fa-search"></i></span><%= text_field_tag :search, params[:search], placeholder: "Search" %></li>
        <% end %>
		<%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
        <li><%= link_to "Help", help_path, :class => 'title' %></li>
		<li><%= link_to "Users", users_path, :class => 'title' %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
			  <li><%= link_to 'My Conversations', :conversations, :class => 'title' %></li>
              <li><%= link_to "Profile", current_user, :class => 'title' %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), :class => 'title' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete", :class => 'title' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, :class => 'title' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header></html>