<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Fifteen · The Artist's Place</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style>

h2 {
      line-height: 1;
      font-family: 'Oswald', sans-serif;
	  color: #f00;
    }
	
h3 {
      line-height: 1;
      font-family: 'Oswald', sans-serif;
	  color: #f00;
    }
	
</style>
<body id="convo">
<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6">
	  <h2>Inbox</h2>
	  <ul>
		<%= render collection: mailbox.inbox, partial: 'conversation' %>
	  </ul>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6">
	  <h2>Conversations</h2>
	  <ul>
	    <%= render collection: mailbox.sentbox, partial: 'conversation' %>
		<% if false %>
	    <%= content_tag_for(:li, mailbox.conversations.last) do |conversation| %>
	      <% unless mailbox.conversations.last == nil %>
		    <%= render conversation_path(conversation) %>
		  <% end %>
		<% end %>
		<% end %>
	  </ul>
	</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-6">
	<h3><%= link_to 'Start Conversation', :new_conversation %></h3>
  </div>
</div></html>