<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Fifteen · The Artist's Place</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
	
	.posting {
	  border-style: dashed;
	  border-color: #0000FF;
      background: rgb(255, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 0, 0, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    }

	</style>
<li class="posting", id="micropost-<%= micropost.id %>">
  <section>
  <%= image_tag(micropost.user.picture.url,size: "50x50") if micropost.user.picture? %>
  <%= image_tag("fans.jpg",size: "50x50") if !micropost.user.picture? %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <% if micropost.content.split(" ").select {|c| !c.include? "http"}.join(" ").index("#") == nil %>
															
	    <%= simple_format(micropost.content.split(" ").select {|c| !c.include? "http"}.join(" ")) %>
	  <% else %>
	    <%= simple_format(micropost.content.split(" ").select {|c| !c.include? "http"}.join(" ")[0,micropost.content.index(" #")]) %>
	    <% micropost.content[micropost.content.index(" #")..-1].split(" #")[1..-1].each do |word| %>
	      <%= link_to "#" + word, :controller => '/users', :method => 'get', :search => word %>
	    <% end %>
	  <% end %>
    <% if micropost.content.include? 'youtu' %>
      <%= auto_html(micropost.content.split(" ")[micropost.content.split(" ").find_index{|x| x.include? 'youtu'}]) {youtube(:width => 550, :height => 190)}   %>
    <% end %>
    <% if micropost.content.include? 'http'%>
	  <a href="<%= micropost.content.split(" ")[micropost.content.split(" ").find_index{|x| x.include? 'http'}] %>">
	  <%= micropost.content.split(" ")[micropost.content.split(" ").find_index{|x| x.include? 'http'}] %></a>
	  <%= link_to image_tag("meseeks.gif",size: "200x200"), viewed_micropost_path(micropost) %>
    <% end %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
	<% end %>
	<% if !current_user?(micropost.user) and current_user.following?(micropost.user)%>
	  <%= link_to current_user.active_relationships.find_by(followed_id: micropost.user.id).common, :controller => '/users', :method => 'get', :search => current_user.active_relationships.find_by(followed_id: micropost.user.id).common %>
	<% end %>
  </span>
</li></html>